from {{ settings_import }} import *

{% if extra_python_imports %}
{% for import in extra_python_imports %}
{{ import }}
{% endfor %}
{% endif %}

STATIC_ROOT = '{{ prefix_dir }}/{{ namespace }}/{{ name }}/www/static'
{% if media_root -%}
MEDIA_ROOT = '{{ media_root }}'
{%- endif %}

{% if not use_sqlite -%}
DATABASES = {
    "default": {
        "ENGINE": "{{ db_engine }}",
        "NAME": "{{ db_name }}",
        "USER": "{{ db_user }}",
        "PASSWORD": "{{ db_password }}",
        "HOST": "{{ db_host }}",
        "PORT": "{{ db_port }}"
    }
}
{%- endif %}

{% if allowed_hosts -%}
ALLOWED_HOSTS = (
{% for host in allowed_hosts %}
    "{{ host }}",
{% endfor %}
)
{%- endif %}

{% if extra_django_settings %}
{% for setting in extra_django_settings %}
{{ setting }}
{% endfor %}
{% endif %}
